  <button class="btn btn-primary" (click)="showForm()">+</button>
  <form [formGroup]="customerForm" *ngIf = 'isFormOpen' (submit)="onSubmit() ">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  placeholder="Enter name" formControlName="nameControl">
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="form-control" id="dataeOfBirth" placeholder="Date of Birth" formControlName="dateOfBirthControl">
      </div>
    
      <button type="submit" class="btn btn-primary"  >{{idControl.value ? 'Edit ' : ' Create'}}</button>
    </form>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Date of birth</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers ; let index = index">
        <th scope="row">{{index + 1}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.dateOfBirth}}</td>
        <td><div>
            <button type="button" class="btn btn-danger" (click)="onRemove(customer.id)">X</button>
            <button type="button" class="btn btn-warning" (click) ="onUpdate(customer)">Update</button>
        </div></td>
      </tr> 
    </tbody>
  </table>